<app-psychopedagogists></app-psychopedagogists>
<div class="container" style="margin: 20px auto">
    <form [formGroup]="form" class="d-flex" role="search" style="width: 80%; margin: auto">
        <input formControlName="code" class="form-control me-2" type="search" placeholder="Ingrese el código de alumno" aria-label="CodeSearch" minlength="9" maxlength="9" required>
        <button class="btn btn-outline-danger" type="submit" (click)="reportsByCodeSearch(this.form.get('code')?.value)" [disabled]="this.form.get('code')?.invalid">Buscar</button>
    </form>
</div>
<div class="container" style="margin: 20px 0">
        <form [formGroup]="form" role="search" style="width: 100%">
            <div class="row justify-content-center" style="margin: 0 0 20px 20%">
                <div class="col">
                    <input formControlName="surname" class="form-control me-2" type="search" placeholder="Ingrese el nombre de alumno" aria-label="SurnameSearch">
                </div>
                <div class="col">
                    <input formControlName="lastName" class="form-control me-2" type="search" placeholder="Ingrese el apellido de alumno" aria-label="LastNameSearch">
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark" type="submit" (click)="reportsByNameSearch(this.form.get('surname')?.value, this.form.get('lastName')?.value)" [disabled]="this.form.get('surname')?.invalid && this.form.get('lastName')?.invalid">Buscar</button>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-bottom: 20px">
                <div *ngIf="ownReports" class="col-auto" style="margin: 0">
                    <button (click)="this.ownReports = !this.ownReports" type="button" class="btn btn-dark">Mis reportes</button>
                </div>
                <div *ngIf="!ownReports" class="col-auto" >
                    <button (click)="this.ownReports = !this.ownReports" type="button" class="btn btn-light" >Mis reportes</button>
                </div>
                <div class="col-auto">
                    <input formControlName="startDate" class="form-control" type="date" aria-label="Start Date">
                </div>
                <div class="col-auto">
                    <input formControlName="endDate" class="form-control" type="date" aria-label="End Date">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-dark" type="submit" (click)="this.filterReports()" [disabled]="this.form.get('startDate')?.invalid && this.form.get('endDate')?.invalid">Aplicar</button>
                </div>
            </div>
        </form>
</div>
<div class="container">
    <div class="row align-items-center">
        <table class="table table-hover">
            <thead>
                <tr class="table-danger">
                    <th scope="col">Profesional</th>
                    <th scope="col">Estudiante</th>
                    <th *ngIf="this.searchByName" scope="col">Código</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Resolución</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody  class="table-group-divider">
                <tr *ngFor="let report of reports">
                    <th class="table-active">{{report.psychopedagogist}}</th>
                    <th class="table-active">{{report.student}}</th>
                    <th *ngIf="this.searchByName" scope="col">Código</th>
                    <td>{{report.activity}}</td>
                    <td>{{report.cause}}</td>
                    <td>{{report.resolution?.substring(0, 50)}}<p *ngIf="report.resolution != undefined && report.resolution.length > 50" style="display: inline-block">...</p></td>
                    <td>{{report.date}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>