
<!-- <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div> -->
  <form [formGroup]="form" (ngSubmit)="retrieveAllAppointmentsByStudent()">
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
         

            <button 
              (click)="retrieveAllAppointmentsByStudent()"
            ><i class="fa-solid fa-magnifying-glass"></i></button>
          
        </span>
        <input
          formControlName="studentCode"
          type="text"
          class="form-control"
          placeholder="Code"
        />
      </div>
  
  </form>
  
<div class="tablas">
  

    
<table class="content-table">
    <thead>
          <tr>
              <th>Id</th>
              <th>Day</th>
              <th>Start</th>
              <th>End</th>
              <th>Cause Description</th>
              <th>Comment</th>
              <th>Rating</th>
              <th>Psychopedagogist</th>
              <th>Student</th>
              <th>Calificar</th>
              <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let appo of appointments | slice:desde:hasta" >

            <td>{{appo.id}}</td>
            <td>{{appo.day}}</td>
            <td>{{appo.start}}</td>
            <td>{{appo.end}}</td>
            <td>{{appo.causeDescription}}</td>
            <td>{{appo.comment}}</td>
            <td>{{appo.rating}}</td>
            <td>{{appo.psychopedagogistId}}</td>
            <td>{{appo.studentId}}</td>
            <td>
             
                <i (click)="onClick(appo.id,appo.rating)"
                class="fas fa-star"></i>
              
              </td>
            <td>
                <i
                    (click)="deleteAppointment(appo.id)"
                    class="far fa-trash-alt text-danger"
                ></i>    
            </td>
        </tr>

      </tbody>
      
     
    
    </table>
    <mat-paginator [length]="appointments?.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10]"
    (page)="cambiarpagina($event)"
    >
  </mat-paginator>

    
    <div *ngIf="showMe" id="formulario">
      
      <h1>CALIFIQUE SU CITA</h1>
      
      <form [formGroup]="form2" >
        <div>

          <div class="input-group input-group-lg mb-3" >
            <div id="primerGrupo">
              <div id="citaP">
                
                <p >Cita Id
                </p>
              </div>
              <div id="citaInput">
                
                <input
                formControlName="citaId"
                type="number"
                class="form-control2"
                placeholder="Ingresa el id de la cita"
                
                />
              </div>
              
            </div>
            
          </div>
          <div class="input-group input-group-lg mb-3" >
            <div id="segundoGrupo">
              <div id="Rp">
                
                <p>Rating
                  
                </p>
              </div>
              <div id="Rinp">
                
                <input
                formControlName="Rating"
                type="number"
                min="0"
                max="10"
                class="form-control2"
                placeholder="Ingresa el rating"
                id="rate"
                />
              </div>
            </div>
          </div>
        </div>
        
        <button (click)="onClick()" class="cancel" >
          <a routerLink="/appointments">Cancelar</a>
        </button>
        <button class="rate" (click)="addRating()" >
          Calificar
        </button>
        
      </form>

      
    </div>
    
  </div>
  
  
  
  
  