<app-students></app-students>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color:#F87171;;">
      <h4 class="modal-title" id="modal-basic-title" style="color:rgb(255, 255, 255);">Comentarios de la cita</h4>
      <button type="button" class="fa fa-close" aria-label="Close" (click)="d('Cross click')" style = "border:hidden;"></button>
    </div>
    <div class="modal-body">
      <ul *ngIf="selectedAppointment; else notFound">
        <p *ngIf = "selectedAppointment.comment != ''; else notComments"> 
          Datetime: {{selectedAppointment.date}} - {{selectedAppointment.startTime}} <br>
          Comments: {{selectedAppointment.comment}}
        </p>
      </ul>
    <ng-template #notFound>No existen citas</ng-template>
    <ng-template #notComments>No hay comentarios asignados</ng-template>
    </div>
  </ng-template>
<div class="container">
    <div class="row align-items-center">
        <table class="table table-hover caption-top">
            <caption>Pendientes</caption>
            <thead>
                <tr class="table-danger">
                    <th scope="col"><i class="fa-solid fa-bell"></i></th>
                    <th><i class="fa-solid fa-file-circle-check"></i></th>
                    <th><i class="fa-solid fa-comment"></i></th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Profesional</th>
                    <th scope="col">Modalidad</th>
                    <th scope="col">Fecha y hora</th>
                </tr>
            </thead>
            <tbody  class="table-group-divider">
                <tr *ngFor="let appointment of appointments">
                    <td *ngIf="!appointment.reminder"><div (click)="updateReminder(appointment.id)" id=icon-button><i class="fa-solid fa-bell-slash"></i></div></td>
                    <td *ngIf="appointment.reminder"><div (click)="updateReminder(appointment.id)" id=icon-button><i class="fa-solid fa-bell" style="color: #06B6D4"></i></div></td>
                    <td *ngIf="appointment.reportId > 0"><a href="/students/{{this.studentId}}/appointments/{{appointment.id}}/report"><i class="fa-solid fa-circle" style="color: rgb(84, 252, 0);"></i></a></td>
                    <td *ngIf="appointment.reportId == 0"><i class="fa-regular fa-circle"></i></td>
                    <td *ngIf="appointment.comment != undefined && appointment.comment.length > 0" ><a (click)="openModal(content, appointment)" style="cursor: pointer;"><i class="fa-solid fa-comment"></i></a></td>
                    <td *ngIf="appointment.comment != undefined && appointment.comment.length == 0"><i class="fa-regular fa-comment"></i></td>
                    <th class="table-active">{{appointment.activity}}</th>
                    <td>{{appointment.psychopedagogist}}</td>
                    <td>{{appointment.virtual ? "Virtual" : "Presencial"}}</td>
                    <td>{{appointment.date}} {{appointment.startTime}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>