<table class="table table-hover">
    <thead>
        <tr class="table-danger">
            <th scope="col">Actividad</th>
            <th scope="col">Profesional</th>
            <th scope="col">Modalidad</th>
            <th scope="col">Fecha y hora</th>
        </tr>
    </thead>
    <tbody  class="table-group-divider">
        <tr *ngFor="let appointment of appointments">
            <th class="table-active">{{appointment.activity}}</th>
            <td>{{appointment.psychopedagogist}}</td>
            <td>{{appointment.virtual ? "Virtual" : "Presencial"}}</td>
            <td>{{appointment.date}} {{appointment.startTime}}</td>
        </tr>
    </tbody>    
</table>