
<div class="navbar navbar-expand">

  
  <div>
    <div class="navbar-nav">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png" alt="">
      <li class="nav-item">
        <a routerLink="appointments" id="appos"  class="nav-link">Mis Citas</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" id="agregar" class="nav-link">Separar cita</a>
      </li>
      <li class="nav-item">
        <a routerLink="student" id="std" class="nav-link">Students</a>
      </li>
      <li class="nav-item">
        <a routerLink="workshops" id="works" class="nav-link">Talleres</a>
      </li>
    </div>
  </div>
</div>
<router-outlet></router-outlet>