<form [formGroup]="form"  *ngIf="!this.validUsername">
    <div class="mb-3">
      <label for="username" class="form-label">Código de Usuario</label>
      <div class="input-group">
        <span class="input-group-text" required>
          <i
            class="fas fa-user"
            [class.green-icon]="this.form.get('username')?.valid"
            [class.red-icon]="
              this.form.get('username')?.invalid &&
              this.form.get('username')?.touched
            "
          ></i>
        </span>
        <span class="input-group-text" id="basic-addon1">U</span>
        <input formControlName="username" type="text" class="form-control-lg" minlength="9" maxlength="9" id="username" aria-describedby="usernameHelp" >
      </div>
      <div id="usernameHelp" class="form-text">Utilice el código de usuario de la UPC (sin la u)</div>
    </div>
    <button [disabled]="this.form.get('username')?.invalid" type="submit" class="btn btn-primary" (click)="getUsername(this.form.get('username')?.value)">Siguiente</button>
  </form>
  <form [formGroup]="form"  *ngIf="this.validUsername && !this.signedIn">
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input formControlName="password" type="password" class="form-control-lg" minlength="8" maxlength="25" id="password" aria-describedby="passwordHelp" required>
      <div id="passwordHelp" class="form-text">La contraseña debe contener entre 8 y 25 caracteres, teniendo mínimo una mayúscula, un número y un símbolo</div>
    </div>
    <div class="mb-3">
        <label for="confirmation" class="form-label">Contraseña</label>
        <input formControlName="confirmPassword" type="password" class="form-control-lg" minlength="8" maxlength="25" id="confirmation" aria-describedby="confirmationHelp" required>
        <div id="confirmationHelp" class="form-text">Debe reingresar la misma contraseña para confirmarla.</div>
      </div>
    <div class="mb-3 form-check">
      <input formControlName="termsAccepted" type="checkbox" class="form-check-input" id="accept" required>
      <label class="form-check-label" for="accept">Acepto los términos y condiciones</label>
    </div>
    <button [disabled]="this.form.get('password')?.invalid || this.form.get('confirmPassword')?.invalid || this.form.get('termsAccepted')?.invalid" type="submit" class="btn btn-primary" (click)="signIn()">Iniciar sesión</button>
  </form>
  <div *ngIf="signedIn">
      <h3>¡Registro exitoso!</h3>
      <button class="btn btn-success" routerLink="/students/{{student.id}}" (click)="newSignIn()">
          Ir a Home
      </button>
  </div>
