<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/students/{{this.id}}"><img src="assets/img/logo_upc.png" alt="UPC-LOGO" style="object-fit: cover; width: 100%; height: 50px;"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn nav-link dropdown-toggle" type="button" href="/students/{{this.id}}/home" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ATENCIÓN
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Atención individual</a></li>
            <li><a class="dropdown-item" href="#">Atención grupal</a></li>
            <li><a class="dropdown-item" href="#">Guías informativas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/students/{{this.id}}">CITAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">TALLERES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
