<div class="container-md">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/img/student.png" class="card-img-top" alt="ESTUDIANTE">
            <div class="card-body">
                <h5 class="card-title">ACCESO ESTUDIANTES</h5>
                <p class="card-text">Si nunca has utilizado la app, solo tendrás que crear una contraseña para poder empezar a utilizar tu cuenta.</p>
                <a href="student/login" class="btn btn-primary" style="margin-left: 6rem">Log In</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/img/professional.png" class="card-img-top" alt="PROFESIONAL">
            <div class="card-body">
                <h5 class="card-title">ACCESO PSICOPEDAGOGO</h5>
                <p class="card-text">Ingresa para gestionar y monitorear todas tus actividades.</p>
                <a href="psychopedagogist/login" class="btn btn-primary" style="margin-left: 6rem">Log In</a>
            </div>
            </div>
        </div>
        <!-- <div class="col-auto">
            <button routerLink="student/login" type="submit" class="btn btn-outline-warning btn-lg">Estudiante</button>
        </div>
    </div>
    <div class="container">
        <div class="col-auto">
            <button routerLink="psychopedagogist/login" type="submit" class="btn btn-outline-dark btn-lg">Psicopedagogo</button>
        </div> -->
    </div>
</div>